
.App {
  text-align: center;
}


body {
  background: #1d1d1d;
}

.App-logo {

  height: 80px;
}

.App-header {
  height: 2em;
  padding: 1em;
  color: #475961
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rsiObj {
  color: #474747;
  font-size: 2em;
  margin: 1em;
  border-radius: 2em;
  text-align: right;
  margin-left:0em;
}

.rsival {
  color: #cab5ad;
  margin-left: 1em;
}

.ticker {
  color: #d4a259;
}

ul {
  list-style-type: none;
  display: inline-block;
      margin: 0;
    padding: 0;
}