



.App {
  text-align: center;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@keyframes AnimationName {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}

body {
  width: 100%;
  height: 100%;
background: linear-gradient(134deg, #0c2539, #273e48);
background-size: 400% 400%;
-webkit-animation: AnimationName 23s ease infinite;
-moz-animation: AnimationName 23s ease infinite;
-o-animation: AnimationName 23s ease infinite;
animation: AnimationName 23s ease infinite;

}

.App-logo {

  height: 80px;
}

.App-header {
  height: 2em;
  padding: 1em;
  color: #475961
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rsiObj {
  color: #474747;
  font-size: 2em;
  margin: 1em;
  border-radius: 2em;
  text-align: right;
  margin-left:0em;
}

.rsival {
  color: #bbd1ec;
  margin-left: 1em;
}

.ticker {
  color: #DC91A5;
}

ul {
  list-style-type: none;
  display: inline-block;
      margin: 0;
    padding: 0;
}